mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.col.col-auto.d-none.d-md-block
				.col
					+e.top
						img(src="img/top-foot.png", alt="")
				+e.col.col-auto
					.row
						
						.col-auto
							a(href="#")
								img(src="img/msa.png", alt="")
						.col-auto
							a(href="#")
								img(src="img/dadoko_design_logo.svg", alt="")
