mixin s-about()
	// start s-about
	+b.s-about#s-about&attributes(attributes)
		+b.section-title
			.container
				h2 о нас
		
		+e.container.container
			.row
				.col
					+e.group: +e.group-inner
						.h3  информация о котеджном поселке «павловские дачи» 
						p Коттеджный поселок «Павловские Дачи» расположен в красивом и спокойном месте, рядом с населенными пунктами Павловск, Пушкин и Коммунар, в окружении леса на берегу реки Славянка. 
						p Удаленность от границы Санкт-Петербурга и Павловска составляет не более 4 км. Удобное транспортное сообщение с городом обеспечивают Павловское, Киевское, Московское и Пулковское шоссе. 
						p В районе коттеджного поселка «Павловские Дачи» много достопримечательностей и парковых ансамблей, среди них Павловск, Пушкин и уникальные памятники архитектуры международного значения. 
						p Близкое расположение населенных пунктов обеспечивает жителям поселка доступную социальную инфраструктуру, магазины, школы, детские сады, поликлиники. 
						p Живописная местность с прилегающим лесом и благоприятная экологическая обстановка создают здесь идеальные условия для комфортного проживания и отдыха. 
						p Необыкновенный природный ансамбль обеспечивает жителям поселка чистейший воздух и отличную экологию, а близость исторических парков и памятников архитектуры - культурный досуг.
					+e.group: +e.group-inner
						.h3 управляющая компания
						p Управление коттеджным поселком осуществляет профессиональная команда знающая свое дело с большим опытом обслуживания загородной недвижимости и многоквартирных домов. 
						p Приоритетом нашей работы является Ваша безопасность и комфортное условия проживания. 
						p В обязанности управляющей компании входит 
							br
							| — содержание и эксплуатация построенных инженерных сетей и сооружений; 
							br
							| — благоустройство и содержание территорий общего пользования; 
							br
							| — развитие инфраструктуры; 
							br
							| — обеспечение безопасности жителей и гостей коттеджного поселка, организация пропускной системы и системы видеонаблюдения; 
							br
							| — контроль за соблюдением действующих регламентов и правил.
					+e.group: +e.group-inner
						.h3 инфраструктура
						.row
								each val, index in ['охрана', 'электричество', 'скважина', 'газ', 'магазин']
									+e.col.col-md.col-auto.col.text-center
										+e.img-wrap:  img.lazy(src="#" data-src=`img/about-${index + 1}.png`, alt="")
										strong.small.ttu= val
					+e.group.d-lg-none: +e.group-inner
						.h3 контакты
						p.line 
							a(href="tel:+7(812)458-03-62").text-body 
								+icon('tel2')
								| +7 (812) 458-03-62
							br
							a(href="mailto:почта@укпд.рф").text-body 
								+icon('email')
								| почта@укпд.рф
						p.ttu.strong адрес 
						p.line: small Гатчинский р-н . Пудомягское с.п. 
							br
							|Массив Дачный 1 . GPS 59.632397, 30.332460
				.text-white.col-lg-3.order-lg-first.align-self-end.d-none.d-lg-block
					p.ttu.strong контакты
					p.line 
						a(href="tel:+7(812)458-03-62").text-white 
							+icon('tel2')
							| +7 (812) 458-03-62
						br
						a(href="mailto:почта@укпд.рф").text-white 
							+icon('email')
							| почта@укпд.рф
					p.ttu.strong адрес 
					p.line: small Гатчинский р-н . Пудомягское с.п. 
						br
						|Массив Дачный 1 . GPS 59.632397, 30.332460
	// end s-about