.s-news {
	background-color: #1c2326;
	color: #ffffff;
	&__title{
		background-color: rgba($color: #f2f2f2, $alpha: .05);
		padding: 2px 10px;
		margin-bottom: 18px;
	}
			a.strong{
				display: inline-block;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			&__btn-wrap{
				margin-left: -4px;
				margin-right: -4px;
				display: flex;
				flex-wrap: wrap;
			}
			&__btn{
				margin-bottom: 10px;
				flex-grow: 1;
				margin-left: 4px;
				margin-right: 4px;
				font-size: 12px;
				padding-left: 2px;
				padding-right: 2px;
				padding-top: 4px;
				padding-bottom: 4px;
				@include media-breakpoint-up(xl) {

					min-width:  calc(50% - 8px);
				}
			}
			&__col{
				.row{
					height: 100%;
				}
				.col{
					display: flex;
					flex-direction: column; 
				}
				@include media-breakpoint-up(lg) {

					margin-bottom: 140px;
				}
				margin-bottom: 70px;
			}
		&__counter{
			margin-bottom: 30px;
		}
		&__counter-item{
			display: inline-flex;
			background-color: #ffffff;
			height: 15px;
			width: 15px;
			border-radius: 50%;
		}

		&__img-wrap{
			margin-bottom: 15px;
			width: 130px;
		}
		&__text{
			display: flex;
					flex-direction: column;
					flex-grow: 1;
					font-size: 14px;
					

					// justify-content: center;	
		}
		&__text-body{
			display: flex;
					flex-direction: column;
					justify-content: center;
					flex-grow: 1;
					position: relative;
					padding-left: 15px;
					margin-bottom: 10px;
					&::before{

						background-color: #f2f2f2;
						opacity: 0.15;
						left: 0;
					}
					&::after,
					&::before{
						content: '';
						position: absolute;
						height: calc(100%  - 15px);
						width: 1px; 
					}
					&::after{
						background-color: #ffffff; 
						right: 0;
					}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}