mixin s-news()
	// start s-news
	+b.s-news#s-news&attributes(attributes)
		+b.section-title
			.container
				h2 Новости
		.section
			.container
				.row
					mixin item(i,t,p)
						+e.col.col-lg-6
							.row
								.col-sm-auto
									+e.counter
										+e.counter-item
										block
									+e.img-wrap
										img.lazy.res-i(src="#" data-src=`img/news-${i}.png`, alt="")
								.col
									+e.title.ttu=t
									+e.text
										+e.text-body
											p.ttu= p
											.ttu Узнайте больше про акцию по телефону
											div
												a.strong.text-white(href="tel:+7(812)458-03-62") +7 (812) 458-03-62
										+e.btn-wrap
											+e.btn.btn.btn-outline-primary(href="#s-form").ttu.scroll-link-js оставить заявку 
											+e.btn.btn.btn-outline-white.popup-with-move-anim(href="#modal-news").ttu больше информации
						// /+e.col.col-6
					+item('1','Сотка в подарок','При единовременной оплате от 8 соток')
					+item('2','Позови друзей','При покупке участка по Вашей рекомендации,  Вы получаете 10 000 руб.')
						+e.counter-item
						 
					+item('3','2 по цене 1','Оплата одного инфраструктурного платежа  при покупке двух участков рядом.')
						+e.counter-item
						+e.counter-item
					 
					+item('4','Рассрочка 0 - 0 - 12','')
						+e.counter-item
						+e.counter-item
						+e.counter-item
	// end s-news