extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-news/_s-news.pug

block title
	title title

block pagecontent
	+mob-mnu()
	+header() 
		+top-nav()

	+header-block()
	+s-about()
	+s-form()
	+s-news()
	+s-contact()
	+footer()

