
mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav
		.container
			.row
				.col-xl-2.col-auto
					+e.logo(href="#")
						img.res-i(src="img/logo.png", alt="")
				.col.d-none.d-lg-block
					+mnu()
					
	// end top-nav